<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Controlador.Properties.Settings.FerreteriaConnect"
            connectionString="Data Source=.;Initial Catalog=Ferreteria;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>